.Header {

  div {
    padding: 8px 5px;
    height: auto;
    margin: 0 auto;
    width: 100%;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 30px;
    }
  }

  nav {
    clear: both;

    ul {

      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        padding: 10px 0;
        margin: 0 auto;
        background-color: white;
        transition: background-color 0.4s ease;

        a {
          color: black;
          font-size: 1.6rem;
        }

        &:hover {
          background-color: firebrick;

          a {
            color: white;
          }
        }
      }
    }
  }
}
