@import '../base/variables';

.WorkPage {
  height: 100%;

  .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    ul {
      padding: 0;

      li {
        list-style: none;
        height: 10rem;
        margin: 0 auto;
        color: black;
        border-bottom: 2px solid black;

        p {

          a {
            color: $linkColor;
          }
        }
      }
    }
  }
}
