@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans:600");
html {
  background-color: black;
  overflow: scroll; }

html,
body,
#app {
  height: 100%; }

#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
#app p,
#app a {
  font-family: "Lato", sans-serif; }
#app a {
  cursor: pointer; }

html {
  background-color: black;
  overflow: scroll; }

html,
body,
#app {
  height: 100%; }

#app h1,
#app h2,
#app h3,
#app h4,
#app h5,
#app h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
#app p,
#app a {
  font-family: "Lato", sans-serif; }
#app a {
  cursor: pointer; }

.App {
  height: 100%;
  position: relative; }
  .App header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 0 10px; }
    .App header h1 {
      margin: 0; }
  .App .row {
    margin-right: 0; }
  .App nav {
    height: auto;
    width: 100%; }
    .App nav ul {
      position: fixed;
      bottom: 0;
      padding: 0;
      height: 5rem;
      margin: 0;
      z-index: 2; }
      .App nav ul li {
        position: relative;
        list-style-type: none;
        background-color: black;
        height: 100%;
        padding: 0; }
        .App nav ul li a {
          position: absolute;
          transform: translateX(-65%) translateY(-25%);
          top: 50%;
          left: 50%;
          display: block;
          height: 100%;
          text-align: center;
          color: white;
          text-decoration: none;
          font-size: 1.6rem; }

.homePage {
  height: 100%; }
  .homePage .content-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .homePage .content-block h1 {
      font-size: 5rem; }
    .homePage .content-block h2 {
      display: inline-block;
      padding: 8px;
      border-radius: 15px 0 10px 0;
      background-color: #FFF600;
      color: black; }
    .homePage .content-block a {
      margin-top: 20px;
      display: inline-block;
      border: 2px solid #e74c3c;
      color: white;
      padding: 5px 0;
      border-radius: 8px;
      min-width: 150px;
      background-color: #e74c3c;
      transition: background-color 0.5s ease;
      text-align: center; }
      .homePage .content-block a:hover {
        background-color: white;
        color: #e74c3c;
        text-decoration: none; }

.AboutPage {
  position: relative;
  height: 100%;
  padding: 0 20px; }
  .AboutPage .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .AboutPage .wrapper img {
      display: inline-block;
      border-radius: 100%; }
    .AboutPage .wrapper h2 {
      display: inline-block;
      padding: 8px 12px;
      font-size: 3rem;
      border-radius: 15px 0 10px 0;
      background-color: red;
      color: white; }

.WorkPage {
  height: 100%; }
  .WorkPage .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .WorkPage .wrapper h2 {
      display: inline-block;
      padding: 5px;
      border-radius: 15px 0 10px 0;
      background-color: #FFF600;
      color: black; }
    .WorkPage .wrapper ul {
      padding: 0; }
      .WorkPage .wrapper ul li {
        list-style: none;
        height: 10rem;
        margin: 0 auto;
        color: black;
        border-bottom: 2px solid black; }
        .WorkPage .wrapper ul li p a {
          color: #e74c3c; }

.Contact {
  top: 50%;
  position: absolute;
  transform: translateY(-50%); }
  .Contact #linkedin {
    color: #008cc9; }
  .Contact #twitter {
    color: #00aced; }
  .Contact #github {
    color: #333; }
  .Contact h2 {
    display: inline-block;
    padding: 8px;
    border-radius: 15px 0 10px 0;
    background-color: #FFF600;
    color: black; }
  .Contact .form-group {
    text-align: right; }
    .Contact .form-group input[type="submit"] {
      color: #e74c3c;
      margin-right: 15px;
      background: none;
      border: none; }
    .Contact .form-group .submitButton {
      margin: 0; }
    .Contact .form-group div {
      margin: .5rem auto; }
      .Contact .form-group div textarea {
        margin-bottom: 1rem; }
    .Contact .form-group ul {
      padding: 0; }
      .Contact .form-group ul li {
        margin-right: 1.3rem; }
  .Contact li {
    list-style: none;
    display: inline-block; }
  .Contact .fa-2x {
    font-size: 1.4em; }

/*# sourceMappingURL=main.css.map */
