@import 'config';

.about {
  margin: auto;

  .italics {
    font-style: italic;
  }

  .container {

    p {
      margin: 3rem auto;

      img {
        float: right;
        width: 15rem;
        margin: 0 0 1rem 2rem;
        border-radius: 4px;
      }
    }

    h2 {
      font-weight: 700;
    }

    ul {

      li {
        list-style: initial;

        p {
          margin: .5rem;
        }
      }
    }
  }

  @media(min-width: $breakpoint-desktop) {
    .container {
      p {
        img {
          width: 30rem;
        }
      }
    }
  }
}
