// WEBPACK - explicit import required for access to variables
@import 'config';
@import "normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400');

* {
  box-sizing: border-box;
}

html {
  font-size: $root-font-size;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $theme-text;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  background-color: $theme-light;
  overflow: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
  }

  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  h1 {
    font-size: $headline;
  }

  h2 {
    font-size: $subheader;
  }

  p {
    line-height: 1.7rem;
  }

  p,
  a {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-sm;
    color: $theme-text;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  article,
  header {
    padding: 0 2.2rem;
  }

  header {
    background-color: $theme-dark;
  }

  nav {
    background-color: $theme-medium;
  }
}
