// WEBPACK - explicit import required for access to variables
@import 'variables';
@import "normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400');

* {
  box-sizing: border-box;
}

html {
  font-size: $root-font-size;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $theme-text;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  background: -webkit-linear-gradient($theme-medium, $theme-light);
  background: -moz-linear-gradient(top, $theme-medium, $theme-light);
  background: -ms-linear-gradient($theme-medium, $theme-light);
  background: -o-linear-gradient($theme-medium, $theme-light);
  background: $mobile-gradient;
  overflow: auto;

  @media(min-width: $breakpoint-tablet) {
    background: $desktop-gradient;
  }
}

header {
  padding: 0 1.5rem;
}

nav {
  background: $theme-light;
  box-shadow: 0 0 7px 7px $theme-light;
}

article {
  padding: 2rem 1.5rem 7rem;
  max-width: 55rem;

  p {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;

    a {
      text-decoration: underline;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

a {
  cursor: pointer;
  color: $theme-text;
  letter-spacing: 1px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  h1 {
    font-size: $headline;
    letter-spacing: 2px;
  }

  h2 {
    font-size: $subheader;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: $bodyheader;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
  }


  p,
  a {
    font-family: 'Roboto', sans-serif;
  }

  p,
  a,
  input,
  textarea {
    font-size: $font-size-sm;
  }

  li {
    list-style: none;
  }



  /*********************
  *** LANDSCAPE ORIENTATION
  *********************/

  @media screen and (orientation: landscape) {

    header {
      position: static;
    }

    article {
      padding: 2rem 1rem 5rem;
    }
  }



  /*********************
  *** Tablet BREAKPOINT >768
  *********************/

  @media(min-width: $breakpoint-tablet) {

    nav {
      background: $transparent;
      box-shadow: none;
    }

    header {
      order: 1;
      position: static;
    }

    nav {
      order: 2;
      position: static;
    }

    article {
      order: 3;
      margin: auto;
      max-width: 65rem;
    }
  }



  /*********************
  *** DESKTOP BREAKPOINT >1024
  *********************/

  @media(min-width: $breakpoint-desktop) {

    article {
      max-width: 75rem;
    }
  }
}
