@import 'variables';

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

.contact {
  margin: auto;
  padding: 0 2.5rem;
  display: flex;
  flex-flow: column nowrap;

  div {
    margin: 1rem 0;

    form {
      display: flex;
      flex-flow: column nowrap;

      label {
        display: flex;
        flex-flow: column;
        letter-spacing: 1px;
        font-size: 1.3rem;
        margin: .4rem 0;
      }

      input[type="submit"] {
        border: none;
        padding: 1.2rem;
        cursor: pointer;
        flex: 1 0 auto;
        font-size: 2.5rem;
        border-radius: 4px;
        letter-spacing: 3px;
        width: 100%;
        background: $cta-bg;
        font-family: 'Oswald', serif;
        color: $cta-color;
      }

      input,
      textarea {
        background-color: rgba(39, 22, 22, 0.1);
        border: none;
        margin-bottom: .5rem;
        outline: none;
        color: $font-color;
        padding: 1rem;
        border-radius: 0;
        @include placeholder-color(rgba(255,255,255,0.4));
      }

      textarea {
        resize: none;
      }
    }

    ul {
      margin-top: 1.6rem;
      display: flex;
      justify-content: flex-start;
      padding: 0;

      i {
        font-size: 2rem;
      }

      li:first-child {
        margin-right: 2rem;
      }
    }
  }

  @media(min-width: $breakpoint-tablet) {
    .formWrap {
      form {
        input[type="submit"] {
          align-self: flex-end;
          max-width: 33%;
        }
      }
    }
  }

  @media(min-width: $breakpoint-desktop) {
    display: flex;
    flex-flow: row nowrap;

    .copyblock {
      flex: 1;
      padding-right: 30px;
      padding-top: 40px;
    }

    .formWrap {
      flex: 1;

      form {
        input[type="submit"] {
          max-width: 50%;
        }
      }
    }
  }
}
