/* Breakpoints */
$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Font Sizes */
$root-font-size: 10px;
$font-size-sm: 1.4rem;
$font-size-lg: 1.6rem;

/* Headline Sizes */
$headline: 5rem;
$headline-lg: 6.5rem;
$subheader: 2.5rem;
$subheader-lg: 3rem;

/* Theme Color Palette */
$theme-dark: #37474F;
$theme-medium: #607D8B;
$theme-light: #90A4AE;
$theme-accent: #FF3D00;
$theme-text: rgba(255, 255, 255, .8);
$mute : rgba(255, 255, 255, 0.5);
