@import 'variables';

.contact {
  margin: auto;
  padding: 0 2.5rem;
  display: flex;
  flex-flow: column nowrap;

  div {
    margin: 2rem 0;

    form {
      display: flex;
      flex-flow: column nowrap;

      label {
        display: flex;
        flex-flow: column;
        align-content: stretch;
        letter-spacing: 1px;
      }

      input[type="submit"] {
        background-color: $theme-accent;
        border: none;
        padding: .6rem 2rem;
        cursor: pointer;
        align-self: flex-end;
        flex: 1 0 auto;
        font-size: $font-size-sm;
        border-radius: 4px;
        letter-spacing: 1px;
      }

      input,
      textarea {
        background-color: $transparent;
        border: none;
        border-bottom: 1px solid $theme-white;
        margin-bottom: .5rem;
        outline: none;
        color: $theme-white;
        padding: .8rem 0;
        border-radius: 0;
      }

      textarea {
        resize: none;
      }
    }

    ul {
      margin-top: 1.6rem;
      display: flex;
      justify-content: flex-start;
      padding: 0;

      i {
        font-size: 2rem;
      }

      li:first-child {
        margin-right: 2rem;
      }
    }
  }

  @media(min-width: $breakpoint-tablet) {
    flex-flow: row;
    justify-content: space-between;

    div:first-child {
      padding-right: 1rem;
    }

    form {
      min-width: 30rem;
    }
  }
}
