// FONTS?
// HEADLINES?


/* Font Sizes */
$root-font-size: 10px;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;

/* HEADLINE Sizes */
$headline: 5rem;
$subheader: 2.5rem;

/* Theme Color Palette */
$theme-dark: #37474F;
$theme-medium: #607D8B;
$theme-light: #90A4AE;
$theme-accent: #FF3D00;
$theme-text: rgba(255, 255, 255, .8);
