@import './config';

/*
 * NOTE:
 * Specs do not allow a flex item here since the header will be fixed to the top of the browser window.
 */

.header {
  position: fixed;
  top: 0;
  width: 100%;

  .removeBorderBottom {
    border-bottom: none;
  }

  h1 {
    display: inline-block;
  }

  @media(min-width: $breakpoint-desktop) {
    width: auto;
  }
}
