@import './config';

/*
 * NOTE:
 * Specs do not allow a flex item here since the header will be fixed to the top of the browser window.
 */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.3rem;

  .removeBorderBottom {
    border-bottom: none;
  }

  a {
    h2 {
      display: inline-block;
      font-weight: 700;
    }
  }

  @media(min-width: $breakpoint-desktop) {
    width: auto;
  }
}
