@import 'variables';

.homepage {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;

  div {
    &:nth-child(1) {
      margin-bottom: 1rem;
    }

    &:nth-child(2) {
      margin-top: 1rem;
    }
  }

  .mute {
    color: $mute;
  }

  .copyBlock {
    display: none;
  }

  .ctaContainer {
    display: flex;
    flex-flow: column;

     a {
       margin: 1rem 0;
       font-size: 1.8rem;
     }
  }

  .skillsBlock {
    .skills {
      li {
        list-style: initial;

        p {
          margin: .5rem;
        }
      }
    }
  }

  @media(min-width: $breakpoint-mobile) {
    .ctaContainer {
      flex-flow: row;
      justify-content: space-between;

      a {
        flex: 1;
        max-width: 20rem;
      }
    }

    .copyBlock {
      display: block;
      margin: 3rem auto 0;

      .headlineBlock {
        display: flex;

        h2:nth-child(1) {
          white-space: nowrap;
        }

        .pipe {
          margin: 0 .5rem;
          color: $mute;
        }
      }

      h2 {
        font-weight: 700;
      }
    }
  }

  @media(min-width: $breakpoint-tablet) {
    .ctaContainer {
      a {
        flex: 1;
        max-width: 25rem;
        font-size: 2.5rem;
      }
    }
  }

  @media(min-width: $breakpoint-desktop) {
    .ctaContainer {
      flex-flow: row;
      justify-content: space-between;

      a {
        max-width: 33%;
      }
    }
  }
}
