@import 'config';

.homepage {
  margin: auto;

  .container {
    margin-top: 3rem;
    padding-left: 2rem;

    p {
      margin: 3rem auto;
    }

    ul {
      margin: 3rem auto;

      li {
        list-style: initial;

        p {
          margin: .5rem;
        }
      }
    }

    h2 {
      font-weight: 700;
    }

    a {
      text-decoration: underline;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }

    // q&d solution - get rid of it asap!
    .socialContainer {
      ul {
        li {
          list-style: none;
        }
      }
    }
  }
}
