@import 'config';

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;

  ul {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    li {
      width: 32%;

      a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        i {
          font-size: 2.4rem;

          @media screen and (orientation: landscape) {
            font-size: 1.6rem;
          }
        }

        p {
          margin: 0 auto;

          @media screen and (orientation: landscape) {
            font-size: 1.3rem;
          }
        }
      }
    }

    @media screen and (orientation: landscape) {
      margin: 1;
    }
  }


  @media(min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: flex-end;

    ul {
      width: 33%;
    }

    i {
      display: none;
    }
  }
}
