@import 'variables';

.navPanel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $nav-gradient;
    background: -webkit-linear-gradient($theme-accent, $theme-accent-light);
    background: -moz-linear-gradient(top, $theme-accent, $theme-accent-light);
    background: -ms-linear-gradient($theme-accent, $theme-accent-light);
    background: -o-linear-gradient($theme-accent, $theme-accent-light);
    z-index: 1;

    .faClose {
      position: absolute;
      right: 2rem;
      top: 1.5rem;

      i {
        font-size: $subheader;
      }
    }

    .navContainer {
      display: flex;
      height: 100%;
      width: 100%;

      .navBlock {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        margin: auto;
        width: 100%;

        .pipe {
          display: none;
        }

        li {
          flex: 1 0;
          text-align: center;
          padding: 2rem;


          h1 {
            font-weight: 700;

            .active {
              text-decoration: underline;
            }

            a {
              font-family: unset;
              font-size: unset;
              text-decoration: none;
              letter-spacing: 5px;
            }
          }
        }
      }
    }

    @media (min-width: $breakpoint-desktop) {
      .navContainer {

        .navBlock {
          width: auto;
          flex-flow: row nowrap;

          .pipe {
            display: inline-block;
          }

          li {
            padding: 0 2rem;

            a:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
