@import 'config';

.active {
  background-color: $theme-accent;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;


    li {
      flex: 1 1 auto;
      background-color: $theme-medium;

      a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 1rem 0;

        i {
          font-size: 2.5rem;
        }

        p {
          display: none;
        }
      }
    }
  }


  @media(min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: flex-end;

    ul {
      flex: 0 0 50%;

      li {
        padding: 0;

        a {

          i {
            display: none;
          }

          p {
            display: inline-flex;
          }
        }
      }
    }
  }
}
