// DEPRECATED
@import 'variables';

.servicespage {
  margin: auto;

  .mute {
    color: $mute;
  }

  .headlineBlock {
    display: flex;

    h2:nth-child(1) {
      white-space: nowrap;
    }

    .pipe {
      margin: 0 .5rem;
      color: $mute;
    }
  }

  h2 {
    font-weight: 700;
  }

  .skillsBlock {

    .skills {
      li {
        list-style: initial;

        p {
          margin: .5rem;
        }
      }
    }
  }
}
