@import './config';

.social {
  padding: 0;
  display: flex;

  li {
    &:nth-child(2) {
      margin: 0 5rem;
    }

    a {
      border-bottom: none;

        i {
        font-size: 2rem;
      }
    }
  }
}
