@import 'variables';

.social {
  padding: 0;
  display: flex;
  margin: 0;

  .show {
    display: none;
  }

  li {

    a {
      border-bottom: none;

        i {
        font-size: 2rem;
      }
    }
  }
}
