/*******************
 * Breakpoints
 ******************/

$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;



/*******************
 * Font Sizes
 ******************/

$root-font-size: 10px;
$font-size-sm: 1.5rem;
$font-size-lg: 1.6rem;
$mobile-headline: 3.4rem;
$desktop-headline: 4.9rem;



/*******************
 * STYLE VARIABLES
 ******************/

// Globals
$main-bg: #EAEAEA;
$font-color: #222222;

// Navigation
$nav-panel-bg: #0A2463;
$nav-panel-font-color: #EAEAEA;

// Elements
$header-color: #E5E059;
$theme-accent: #FB3640;

// CTA
$cta-bg: $theme-accent;
$cta-color: rgba(234, 234, 234, .6);

// Typewriter
$typewriter-highlight: $header-color;
$typewriter-cursor-color: $theme-accent;

// Helpers
$transparent: rgba(39, 22, 22, 0);
$mute: rgba(255, 255, 255, 0.5);



/*******************
 * Fonts
 ******************/

$font-stack-primary: 'Roboto Slab', serif;
$font-stack-secondary: 'Montserrat', sans-serif;
$cta-font: 'Montserrat', sans-serif;



/*******************
 * Mixins
 ******************/

@mixin responsive-gradient($start-color, $end-color) {
  background: $start-color;
  background: -moz-linear-gradient(left, $start-color 0%, $end-color 100%);
  background: -webkit-linear-gradient(left, $start-color 0%, $end-color 100%);
  background: linear-gradient(to right, $start-color 0%, $end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-color}', endColorstr='#{$end-color}', GradientType=1 );
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}
