/* Breakpoints */
$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Font Sizes */
$root-font-size: 10px;
$font-size-sm: 1.5rem;

/* Headline Sizes */
$mobile-headline: 6rem;
$desktop-headline: 8rem;
$subheader: 3rem;
$bodyheader: 2.2rem;

/* Theme Color Palette */
$theme-medium: #6c06e0;
$theme-light: #914ae2;
$theme-accent: #FF6A63;
$theme-gradient-color-1: #F89D2A;
$theme-gradient-color-2: #FF00F4;
$transparent: rgba(255, 255, 255, 0);
$font-color: #FFFFFF;
$mute: rgba(255, 255, 255, 0.5);

/* Font Stacks */
$font-stack-primary: 'Oswald', serif;
$font-stack-secondary: 'Open Sans', sans-serif;
