/* Breakpoints */
$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Font Sizes */
$root-font-size: 10px;
$font-size-sm: 1.5rem;

/* Headline Sizes */
$headline: 5rem;
$subheader: 2.5rem;
$bodyheader: 1.9rem;

/* Theme Color Palette */
$theme-dark: #37474F;
$theme-medium: #607D8B;
$theme-light: #90A4AE;
$theme-accent: #FF3D00;
$theme-accent-light: #FF6E40;
$transparent: rgba(255, 255, 255, 0);
$theme-white: rgba(255, 255, 255, .8);
$desktop-gradient: linear-gradient(to bottom right, $theme-medium 40%, $theme-light);
$mobile-gradient: linear-gradient(to bottom, $theme-medium 20%, $theme-light);
$nav-gradient: linear-gradient(to bottom right, $theme-accent 25%, $theme-accent-light);
$mute : rgba(255, 255, 255, 0.5);
