@import './config';

.workpage {
  margin: 9rem auto 7.5rem;

  a {
    text-decoration: underline;
  }

  ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    li {
      margin: 1rem auto;
      flex: 0 1 32rem;
      align-items: flex-start;

      a {
        text-decoration: none;
        background-color: $theme-accent;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        img {
          width: 100%;
        }

        p {
          margin: .8rem auto;
        }
      }
    }
  }

  // @media(min-width: 1024px) {
  /*

  Give .workpage a max width and center it in larger viewports
  there should be empty space around .wrapper element

  */
  //   ul {
  //     flex-flow: row wrap;
  //     justify-content: space-around;
  //
  //     li {
  //       margin: auto 1rem;
  //
  //     }
  //   }
  // }
}
