@import './config';

.workpage {
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin: auto;

  a {
    text-decoration: underline;
  }

  ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    li {
      margin: 1rem auto;
      flex: 0 1 27rem;
      align-items: flex-start;

      a {
        text-decoration: none;
        background-color: $theme-accent;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        img {
          width: 100%;
        }

        p {
          margin: .8rem auto;
        }
      }
    }
  }

  @media(min-width: $breakpoint-desktop) {
    ul {
      li {
        flex: 0 1 24rem;
      }
    }
  }
}
