html {
  background-color: black;
  overflow: scroll;
}

html,
body,
#app {
  height: 100%;
}

#app {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headline-font;
    font-weight: $headline-weight;
  }

  p,
  a {
    font-family: $body-font;
  }

  a {
    cursor: pointer;
  }
}

// toastr hacks
body {
  #toast-container {
    div {
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
      filter: alpha(opacity=1);
    }
  }

  .toast-top-full-width {
    top: 5rem;
    right: 0;
    width: 100%;
  }
}
