/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
@import url(normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400");
html {
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden; }

html,
body {
  height: 100%; }

body {
  background-color: #90A4AE;
  overflow: auto; }

header {
  background-color: #37474F;
  padding: 0 1.5rem; }

article {
  padding: 6.5rem 1.2rem;
  max-width: 55rem; }

nav {
  background-color: #607D8B; }

/*
 * NOTE:
 *  Since the header and navigation are fixed at the top & bottom, respectively, we will not treat them as
 *  flex items. We wanted to provide a native experience and did not want to use the hamburger button on mobile.
 *  Currently, flexbox does not support absolutely positioned elements.
 *  http://stackoverflow.com/questions/29036231/how-can-i-have-a-position-fixed-behaviour-for-a-flexbox-sized-element
 *  Because of this, we will set the height of the .wrapper, set a column layout on .wrapper since the
 *   view will not be absolutely positioned, and leverage flexbox to vertically center our content!
 */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /*********************
  *** LANDSCAPE ORIENTATION
  *********************/
  /*********************
  *** DESKTOP BREAKPOINT >1024
  *********************/ }
  .wrapper h1 {
    font-size: 5rem; }
  .wrapper h2 {
    font-size: 2.5rem; }
  .wrapper h1,
  .wrapper h2,
  .wrapper h3,
  .wrapper h4 {
    font-family: 'Roboto Slab', serif;
    margin: 0; }
  .wrapper h2,
  .wrapper h3,
  .wrapper h4 {
    font-weight: 400; }
  .wrapper p,
  .wrapper a {
    font-family: 'Roboto', sans-serif; }
  .wrapper a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8); }
  .wrapper p,
  .wrapper a,
  .wrapper input,
  .wrapper textarea {
    font-size: 1.4rem; }
  .wrapper li {
    list-style: none; }
  @media screen and (orientation: landscape) {
    .wrapper header {
      position: static; }
    .wrapper article {
      padding: 2rem 1rem 5rem; } }
  @media (min-width: 1024px) {
    .wrapper h1 {
      font-size: 6.5rem; }
    .wrapper h2 {
      font-size: 3rem; }
    .wrapper p,
    .wrapper a,
    .wrapper input,
    .wrapper textarea {
      font-size: 1.8rem; }
    .wrapper article {
      max-width: 75rem; }
    .wrapper header {
      order: 1;
      position: static; }
    .wrapper nav {
      order: 2;
      position: static; }
    .wrapper article {
      order: 3;
      margin: auto; } }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
/*
 * NOTE:
 * Specs do not allow a flex item here since the header will be fixed to the top of the browser window.
 */
.header {
  position: fixed;
  top: 0;
  width: 100%; }
  @media (min-width: 1024px) {
    .header {
      width: auto; } }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
.homepage {
  margin: auto; }
  .homepage p {
    margin: 3rem auto 0; }
    .homepage p a {
      text-decoration: underline; }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
.workpage {
  margin: auto; }
  .workpage a {
    text-decoration: underline; }
  .workpage ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .workpage ul li {
      margin: 1rem auto;
      flex: 0 0 26rem;
      align-items: flex-start; }
      .workpage ul li a {
        text-decoration: none;
        background-color: #FF3D00;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        .workpage ul li a img {
          width: 100%; }
        .workpage ul li a p {
          margin: .8rem auto; }
  @media (min-width: 1024px) {
    .workpage {
      padding: auto; }
      .workpage ul li {
        flex: 0 0 24rem; } }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
.contact {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  /* WE NEED SINGLE COLUMN LAYOUT IN MOBILE, 2 COLUMNS FOR DESKTOP */ }
  .contact .leftCol {
    flex: 0 1 auto; }
  .contact .rightCol {
    flex: 1 0 28rem; }
    .contact .rightCol form {
      margin: 3rem auto 0;
      display: flex;
      flex-flow: column nowrap; }
      .contact .rightCol form label {
        display: flex;
        flex-flow: column;
        align-content: stretch; }
      .contact .rightCol form input[type="submit"] {
        background-color: #FF3D00;
        border: none;
        padding: .6rem;
        cursor: pointer;
        align-self: flex-end;
        flex: 1 0 auto; }
      .contact .rightCol form input,
      .contact .rightCol form textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        margin-bottom: .5rem;
        outline: none;
        color: rgba(255, 255, 255, 0.8);
        padding: .8rem 0; }
  @media (min-width: 1024px) {
    .contact {
      flex-flow: row nowrap; }
      .contact .leftCol {
        flex: 0 1 42rem; }
      .contact .rightCol form {
        margin: auto; } }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
.navigation {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .navigation ul {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    .navigation ul li {
      width: 32%; }
      .navigation ul li a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
        .navigation ul li a i {
          font-size: 2.4rem; }
          @media screen and (orientation: landscape) {
            .navigation ul li a i {
              font-size: 1.6rem; } }
        .navigation ul li a p {
          margin: 0 auto; }
          @media screen and (orientation: landscape) {
            .navigation ul li a p {
              font-size: 1.3rem; } }
    @media screen and (orientation: landscape) {
      .navigation ul {
        margin: 1; } }
  @media (min-width: 1024px) {
    .navigation {
      display: flex;
      justify-content: flex-end; }
      .navigation ul {
        width: 33%; }
      .navigation i {
        display: none; } }

/* BREAKPOINTS */
/* Font Sizes */
/* HEADLINE Sizes */
/* Theme Color Palette */
.social {
  padding: 0;
  display: flex; }
  .social li {
    flex: 0 0 5rem; }
    .social li i {
      font-size: 2rem; }

/*# sourceMappingURL=output.css.map */
